
ion-content {
  --background: #f8f9fa;
}

ion-item {
  --padding-start: 0px;
}

ion-button {
  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --padding: 10px 20px;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: none;

}

